.start-button, .clear-button {
	font-size: 1em;
	font-family: verdana;
	border-radius: 0.5em;
}

.start-button {
	float: left;
	color: #ffff;
}
.clear-button {
	margin-left: 100px;
	color: #ffaa;
}

.fizzbuzz {
	padding-top: 2em;
}